.ser {
  overflow-x: hidden;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  
  align-items: center;
  justify-content: center;
  .ser_wrapper{
    max-width: 100%;
  .listing {
    margin-left: 20%;
    letter-spacing: 1px;
    font-family: Lato;
    font-style: normal;
    font-size: 25px;
    color: #393939;
    text-align: left;
    line-height: 1.5;
    li {
      list-style: none;
      display: list-item;
    }
    li::before {
      color: #5ecd73;
      content: "\25AA";
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      font-size: 2em;
      position: relative;
      top: 6.5px;
      font-style: bold;
      left: 10px;
    }
  }
}
}

@media screen and (max-width: 700px) {
  .ser {
    .listing {
      margin-left: 10%;
      li {
        font-size: 15px;
      }
      li::before {
        color: #5ecd73;
        top: 5px;
        left: 0.3em;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .ser {
    .listing {
      margin-left: 15%;
      li {
        font-size: 15px;
      }
      li::before {
        color: #5ecd73;
      }
    }
  }
}
