h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  color: #393939;
}
.doctorRoom {
  width: 100%;
  display: flex;
  .left_content {
    float: left;
    //padding: 150px 10px 10px 100px;
    padding: 100px 0px 0px 100px;
    width: 50%;
    a {
      text-decoration: none;
    }
    .content {
      justify-content: center;
      text-align: left;
      p {
        letter-spacing: 0.1px;
      }
    }

    .links {
      padding: 10px;
      order: 5;

      //padding-left: 20%;
      .btn_one {
        justify-content: left;
        min-width: max-content;
        max-width: max-content;
        // height: 5%;
        border-radius: 75px;
        background: #5ecd73;
        display: flex;
        align-items: center;
        padding: 0 10px;
        justify-content: center;
        //Text
        .btn_txt_one {
          min-width: max-content;
          margin: 10px 4px 14px 1px;
          font-family: Lato;
          font-style: normal;
          font-size: 16px;
          color: #ffffff;
        }
        //whit button
        .btn_one_in {
          background-image: url("./../../assets//img//Vector.png");
          background-repeat: no-repeat;
          background-position: center;
          padding: 15px;
          background-color: #ffffff;
          border: none;
          color: white;
          cursor: pointer;
          border-radius: 20px;
        }
      }
      .btn_two {
        min-width: max-content;
        max-width: max-content;
        // height: 5%;
        border-radius: 75px;
        background: #5ecd73;
        display: flex;
        align-items: center;
        padding: 0 10px;
        justify-content: center;
        //Text
        .btn_txt_two {
          // min-width: max-content;
          margin: 10px 4px 14px 1px;
          font-family: Lato;
          font-style: normal;
          font-size: 16px;
          color: #ffffff;
        }
        //whit button
        .btn_two_in {
          background-image: url("./../../assets//img//Vector.png");
          background-repeat: no-repeat;
          background-position: center;
          padding: 15px;
          background-color: #ffffff;
          border: none;
          color: white;
          cursor: pointer;
          border-radius: 20px;
        }
      }
    }
    .address {
      display: flex;
      align-self: start;
      //justify-content: center;
      .center {
        width: max-content;
      }
    }
  }
  .right_content {
    display: flex;
    float: right;
    width: auto;
    flex-basis: auto;
    //align-self: flex-end;
    img {
      align-self: center;
      //fl  ex-grow: 1;
      // flex-shrink: 3;
      flex-basis: auto;
      width: 100%;
      object-fit: 100%;
      //height: 60%;
    }
  }
}

@media screen and (max-width: 700px) {
  .doctorRoom {
    width: 100%;
    flex-direction: column;
    .left_content {
      width: fit-content;
      padding: 30px;
      .content {
        text-align: center;
        p {
          font-size: 24px;
        }
      }
      .links {
        //padding: 10px 0px 0px 10px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        .center {
          .btn_one {
            width: 50px;
            height: 50px;
            .btn_txt_one {
              font-size: 14px;
            }
            .btn_one_in {
              padding: 14px;
            }
          }
          .btn_two {
            width: 50px;
            height: 50px;
            .btn_txt_two {
              font-size: 14px;
            }
            .btn_two_in {
              padding: 15px;
            }
          }
        }
      }

      .address {
        display: flex;
        align-items: start;
        justify-content: start;
        height: min-content;
        //width: min-content;
        .center {
          width: min-content;
        }
      }
    }
    .right_content {
      display: none;
    }
  }
}

// @media screen and (max-width: 1020px) {
//   .doctorRoom {
//     .left_content {
//       padding: 100px 0px 0px 30px;
//     }
//   }
// }
