@import url("https://fonts.googleapis.com/css?family=Quicksand"); /*====== WIDTH ======*/

.slide_cover {
  padding: 0px 150px 100px 150px;
  .phone_view {
    display: none;
  }
  .desktop_view {
    visibility: visible;
  }
}

.screenW {
  //padding: 100px 100px 100px 100px;
  // width: 100vw;
  width: 100%;
}
.fullW {
  width: 100%;
}
/*====== HEIGHT ======*/
.screenH {
  height: 80vh;
}
.fullH {
  height: 100%;
}
.height70 {
  height: 30px;
}
/*====== BG COLOR ======*/
.dGray {
  background-color: #fff;
}
.white {
  background-color: rgba(0, 0, 0, 0.1);
}
.white50 {
  background-color: #5ecd73;
}
.black50 {
  background-color: #fff;
}
/*====== FONT ======*/
.fSize2 {
  font-size: 2rem;
}
/*====== IMAGE ======*/
.imgCover {
  object-fit: contain;
  z-index: -100;
}
/*====== OVERFLOW ======*/
.overflowH {
  overflow: hidden;
}
/*====== TRANSITIONS ======*/
.transition1l {
  transition: left 1s ease-in-out;
}
/*====== POSITION ======*/
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.left0 {
  left: 0px;
}
.left100vw {
  left: 100vw;
}
.leftM100vw {
  left: -100vw;
}
.bot0 {
  bottom: 0;
}
/*====== FLEX ======*/
.df {
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.fCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex1 {
  flex: 1;
}
.flex8 {
  flex: 8;
}

/*====== CUSTOM ======*/
.dot {
  width: 50px;
  height: 10px;
  border-radius: 3px;
  transition: background-color 1s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .slide_cover {
    padding: 0px 0px 0px 0px;
    .phone_view {
      display: inline;
    }
    .desktop_view {
      display: none;
    }

    .imgCover {
      object-fit: cover;
    }
  }
}
