.im{
  overflow-x: hidden;
  overflow-y: hidden;
}



.subtitle_imp {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 20%;
  margin-top: 2%;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: justify;

  color: #5ecd73;
}


.main {
  width: 70%;
  height: 1000px;
  margin-left: 20%;
  margin-top: 60px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #393939;
}
.body {
  p {
    margin: 0px;
  }
}
@media screen and (max-width:1147px)
{

  .subtitle_imp
  {
   
  position: absolute; 
  }
  .main
  {
    position: absolute;
    top:40%;
  }


}
