.header {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 260%;
  //line-height: 54px;
  text-align: center;
  color: #393939;
  padding-top: 60px;
}

.border {
  margin-left: 20%;
  align-content: center;
  width: 60%;
  height: 0px;
  //left: 11%;
  // top: 150px;
  bottom: 100px;
  border: 1px solid #bcbcbc;
}
@media screen and (max-width: 1147px) {
  .border {
    width: 40%;
    margin-left: 30%;
  }
  .header {
    align-items: center;
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .border {
    width: 60%;
    margin-left: 20%;
  }
  .header {
    align-items: center;
    font-size: 20px;
  }
}
