.gp {
  overflow-x: hidden;
}

.prax {
  h1 {
    text-align: center;
  }
  // padding-top: 100px;
  height: auto;
  overflow: hidden;
}
.time {
  padding-top: 50px;
  height: auto;
  overflow: hidden;
  h1 {
    text-align: center;
  }
}

.doct {
  padding-top: 130px;
  overflow: hidden;
  h1 {
    text-align: center;
  }
}
.gallery {
  // h1{
  //     padding-top: 80px;
  // }
  overflow: hidden;
  //padding-top: 50px;
  padding-bottom: 50px;
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .prax {
    padding-top: 50px;
    h1 {
      text-align: center;
      font-size: 30px;
    }
  }
  .time {
    padding-top: 50px;
    h1 {
      text-align: center;
      font-size: 30px;
    }
  }
  .doct {
    padding-top: 50px;
    h1 {
      text-align: center;
      font-size: 30px;
    }
  }
  .gallery {
    padding-top: 50px;
    h1 {
      text-align: center;
      font-size: 30px;
    }
  }
}
