.gp {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

.gp_wrapper{
  max-width: 100%;

.prax {
  h1 {
    text-align: center;
  }
  // padding-top: 100px;
  height: auto;
  overflow: hidden;
}
.time {
  padding-top: 100px;
  height: auto;
  overflow: hidden;
  h1 {
    text-align: center;
  }
}

.gallery {
  overflow: hidden;
  padding-top: 100px;
  h1 {
    text-align: center;
  }
}
}}
@media screen and (max-width: 1000px) {
  .prax {
    padding-top: 0px;
    h1 {
      text-align: center;
      font-size: 30px;
    }
  }
  .time {
    padding-top: 50px;
    h1 {
      text-align: center;
      font-size: 30px;
    }
  }

  .gallery {
    padding-top: 50px;
    h1 {
      text-align: center;
      font-size: 30px;
    }
  }
}
