// .timeheading{
//   // display: flex;
//   // flex-wrap: wrap;

//     font-family: Lato;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 260%;
//     //line-height: 54px;
//     text-align: center;
//     color: #393939;

// }

.btn1 {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 20px 350px;

  button {
    background-color: #5ecd73;
    width: 150px;
    height: 153px;
    border: none;
    color: white;

    //padding: 20px;
    text-decoration: none;
    //display: inline-block;
    font-size: 16px;
    margin: 15px 15px;

    border-radius: 8px;
  }
  button:focus {
    outline: none;
  }
  p {
    padding-left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .btn1 {
    padding: 10px 10px 10px 100px;
    button {
      width: 80px;
      height: 80px;
      font-size: 10px;
    }
    p {
      padding-left: 15px;
    }
  }
}

@media screen and (max-width: 700px) {
  .btn1 {
    padding: 10px 10px 10px 60px;
    button {
      width: 80px;
      height: 80px;
      font-size: 10px;
    }
    p {
      padding-left: 15px;
    }
  }
}
