.logo {
  padding-left: 10px;
  img {
   position: absolute;
    width: 5%;
    height: 5%;
    padding-top: 0%;
    
  }
}

.navi {
  text-align: right;
 
}

.navi ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  float: right;
}

.navi li {
  display: inline;
  padding: 5px 5px;
}

.navi a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.navi :hover {
  color: #5ecd73;
}
