.addr {
  overflow-x: hidden;
  // padding-bottom: 100px;
  // min-height: 100vh;
  .top_wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 50px;

    .descNimg {
      width: 30%;
      float: left;
      text-align: left;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 16px;
      p {
        margin: 2.5%;
      }
    }

    .building {
      //  float: right;

      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .addr {
    .top_wrapper {
      flex-direction: column;
      padding: 0px 0px;
      // width: 100%;
      .descNimg {
        //text-align: center;
        width: 100%;
        // padding: 50px;
        //width: auto;
        padding: 20px 20px;
        line-height: 0.1;
        p {
          margin: 3%;
        }
      }
      .building {
        float: none;
        padding: 0px 0px 0px 0px;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .addr {
    .top_wrapper {
      .descNimg {
        font-size: 10px;
      }
      .building {
        img {
          object-fit: cover;
        }
      }
    }
  }
}
