.addr {
  overflow-x: hidden;

  .top_wrapper {
    display: flex;
    width: 100%;
    padding: 50px 50px 0px 80px;
    .descNimg {
      width: 35%;
      padding: 0px 10px 0px 10px;
      //height: 60%;
      // margin-left: 5%;
      // padding-top: 40px;
      float: left;
      text-align: left;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 16px;
      p {
        margin: 2%;
      }
    }

    .building {
      float: right;

      img {
        background-size: contain;
      }
    }
  }

  .map {
    width: 90%;
    height: 30%;
    padding: 20px 20px 20px 20px;
    // padding-top: 400px;
    margin-left: 5%;
  }
}

// @media screen and (max-width: 750px) {
//   .addr {
//     .top_wrapper {
//       // width: auto;
//       // flex-direction: column;
//       padding: 10px 0px 20px 50px;
//       .descNimg {
//         width: auto;
//         text-align: center;
//         // padding-left: 10px;
//         // padding-right: 10px;
//         width: auto;
//         line-height: 20px;
//         p {
//           margin: 3%;
//         }
//       }
//       .building {
//         // width: auto;
//         // float: inline-end;
//         // padding: 0px 0px 0px 0px;
//         // img {
//         //   width: 100%;
//         // }
//         display: none;
//       }
//     }
//   }
// }

@media screen and (max-width: 1000px) {
  .addr {
    .top_wrapper {
      flex-direction: row;
      padding: 10px 50px 10px 0px;
      .descNimg {
        //text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        line-height: 20px;
        p {
          margin: 3%;
        }
      }
      .building {
        float: none;
        padding: 0px 0px 0px 0px;
        img {
          width: 100%;
        }
      }
    }
  }
}
