.footer {
  color: #7b7b7b;
  background: #1a1a1a;
  .footer_wrap {
    box-sizing: border-box;
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7b7b7b;
    background: #1a1a1a;
    .logo_footer {
      float: left;
      width: 40%;
      // padding-left: 40px;

      img {
        width: 100px;
        //height: 50px;
        padding: 50px 0 0 30px;
      }
    }
    .address {
      float: left;
      width: 40%;
      padding: 10px;
      //height: 300px;
    }
    .links {
      float: left;
      width: auto;
      padding: 10px;
      a {
        font-family: Lato;
        font-style: none;
        text-decoration: none;
        font-weight: normal;
        font-size: 130;
        color: #7b7b7b;
      }
      // height: 300px;
    }
    // .row:after {
    //   content: "";
    //   display: table;
    //   clear: both;
    // }
  }
  .divider {
    margin-left: 40px;
    width: 93%;
    height: 0px;
    border-top: 1px solid #bbb;
  }
  .end_line {
    box-sizing: border-box;
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    .left {
      float: left;
      width: 50%;
      padding: 10px;
      margin-left: 25px;
    }
    .right {
      float: right;
      width: auto;
      padding: 10px;

      margin-left: 400px;
    }
  }
}
@media screen and (max-width: 900px) {
  .footer {
    height: 100%;
    // width: 200%;
    .footer_wrap {
      .logo_footer {
        img {
          width: 70%;
          //height: 10%;
          padding: 20px 5px 0 20px;
        }
      }
    }
  }
  .divider {
    .end_line {
      .right {
        padding-right: 20%;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .footer {
    height: 100%;
    // width: 200%;
    .footer_wrap {
      .logo_footer {
        img {
          width: 30%;
          // height: 30%;
          padding: 20px 5px 0 20px;
        }
      }
    }
  }
  .divider {
    .end_line {
      .right {
        padding-right: 20%;
      }
    }
  }
}
