.team_wrapper {
  overflow-x: hidden;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
  .wrap_content {
    max-width: 100%;
    .image_team {
      padding: 20px 200px 10px 200px;
      img {
        width: 100%;
      }
    }

    .content_team {
      padding: 20px 250px 10px 200px;
      color: #393939;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      line-height: 1.5;
      margin-top: 0px;
      text-align: left;
      line-height: 1.5;
      letter-spacing: 0.5px;
     ul li {
        color: #393939;
        list-style: none;
        font-size: 23px;
        padding: 0 0 0 em;
        text-indent: -0.5em;
        margin: 1%;
        position: relative;
      }

      ul li::before {
        color: #5ECD73;
        content: "";
        margin: 10px;
        display: inline-block;
        background-color: #5ECD73;
        width: 15px;
        height: 15px;
        margin-left: -1em;
        /* font-size: 2em; */
        position: relative;
        top: 10px;
        font-style: bold;
        left: 1px;
      }
      a {
        text-decoration: none;
        color: #5ecd73;
        font-weight: 500;
      }
    }
  }
}
@media only screen and (max-width: 1147px) {
  .team_wrapper {
    .wrap_content{
    .image_team {
      padding: 10px 20px 10px 20px;
      font-size: 20px;
      img {
        width: 100%;
      }
    }
    .content_team {
      padding: 10px 50px 5px 80px;
   ul li {
        font-size: 20px;
      }
       ul li::before {
        font-size: 2em;
        color: rgb(94, 205, 115);
      }
    }
  }
}
}

@media only screen and (max-width: 700px) {
  .team_wrapper {
    word-spacing: 1px;
    .wrap_content{
    .image_team {
      padding: 10px 20px 10px 20px;
      img {
        width: 100%;
      }
    }
    .content_team {
      padding: 5px 50px 5px 50px;
      line-height: 18px;
      font-size: 10px;
   ul li {
        font-size: 10px;
        margin-left: -15px;
        height: 30px;
        
      }
    ul li::before {
      background-color: #5ECD73;
      width: 8px;
      height: 8px;
      margin-left: -1em;
      /* font-size: 2em; */
      position: relative;
      top: 10px;
      font-style: bold;
      left: 3px;
      }
    }
  }
}
}
