.hover_wrapper {
  .Hover_img {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    .background_img {
      background-image: url("./../../assets/img/Doc_team.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      height: "100vh";

      .doc_scroll_text {
        padding: 80px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        .center {
          width: 50%;
          .doc_head {
            font-size: 400%;
            text-align: center;
          }
          .doc_content {
            text-align: center;

            font-size: 120%;
            text-align: justify;
          }
          .doc_sub {
            display: flex;

            text-align: center;
            .doc_btn {
              width: 27px;
              height: 27px;
              background: #5ecd73;
              background-image: url(./../../assets/img/Vector_two.png);
              background-repeat: no-repeat;
              background-position: center;
              border: none;
              color: white;
              display: inline-block;
              margin: 0.12% 1%;
              border-radius: 50%;
            }
            a {
              font-family: Lato;
              font-style: normal;
              font-size: 100%;
              color: #5ecd73;
            }
          }
        }
      }
    }
  }
  .bottom {
    display: none;
    padding: 2px 2px 2px 2px;
  }
}

@media only screen and (min-width: 1200px) {
  .hover_wrapper {
    .Hover_img {
      .background_img {
        .doc_scroll_text {
          padding: 100px 20px 100px 20px;
          .center {
            .doc_head {
              font-size: 50px;
            }
            .doc_content {
              font-size: 20px;
            }
            .doc_sub {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .hover_wrapper {
    .Hover_img {
      .background_img {
        background-image: url("./../../assets/img/Mask Group-1.png");
        background: size 100%;
        height: 410px;
       
        background-position: 0 0;
        .hovering {
          display: none;
        }
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      display: inline-block;
      font-family: lato;
      text-align: center;
      padding: 0px 20px 0px 20px;
      .doc_sub {
        display: flex;
        justify-content: center;
        .doc_btn {
          width: 27px;
          height: 27px;
          background: #5ecd73;
          background-image: url(./../../assets/img/Vector_two.png);
          background-repeat: no-repeat;
          background-position: center;
          border: none;
          color: white;
          display: inline-block;
          margin: -2px 10px;
          border-radius: 50%;
        }
        a {
          font-family: Lato;
          font-style: normal;
          font-size: 100%;
          color: #5ecd73;
        }
      }
    }
  }
}
