.Kollege_wrapper {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  padding-bottom: 100px;
  // flex-direction: column;
  //min-height: 100vh;
  .left_content {
    float: left;
    width: 10%;
    flex-grow: 1;
    // padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    .button {
      background-color: #4caf50; /* Green */
      border: none;
      padding: 50px 80px;
    }
  }
  .image {
    float: left;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
    }
    // padding-top: 20px;
    // padding-left: 0px;
  }
  .right_content {
    float: right;
    // width: 60%;
    // line-height: 3px;
    // padding: 200px 50px 200px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      max-width: 80%;
      p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Kollege_wrapper {
    overflow-x: hidden;
    flex-direction: column;
    .left_content {
      //   .button {
      //     background-color: #4caf50; /* Green */
      //     border: none;
      //     padding: 50px 1000px;
      //   }
      display: none;
    }
    .image {
      width: 100%;
      // width: max-content;
      // object-position: center;
      // position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      // z-index: 10;
      // left: 25%;
      // right: 25%;
      img {
        //  max-width: 80%;
        // z-index: 100;
        object-fit: 100%;
      }
    }
    .right_content {
      width: 100%;
      // margin-left: 10px;
      // margin-right: 10px;
      //padding: 300px 50px 0px 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      .content {
        max-width: 80%;
        p {
          text-align: justify;
          font-size: 20px;
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .Kollege_wrapper {
    // width: 100%;
    overflow-x: hidden;
    // overflow-y: hidden;
    flex-direction: column;
    .left_content {
      display: none;
    }
    .image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50%;
      }
    }
    .right_content {
      // width: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .content {
        max-width: 80%;
        p {
          word-break: break-all;
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
  }
}
