.im_wrapper {
  //overflow-x: hidden;
  //overflow-y: hidden;
  font-family: Lato;
  font-style: normal;
  font-weight: regular;

  .main {
    padding: 20px 200px 20px 250px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #393939;
  }
  .body {
    p {
      margin: 0px;
    }
  }
}
@media screen and (max-width: 1147px) {
  .im_wrapper {
    .subtitle_imp {
      padding-left: 150px;
      font-size: 20px;
    }
    .main {
      font-size: 15px;
      padding: 10px 100px 10px 150px;
    }
  }
}
@media screen and (max-width: 700px) {
  .im_wrapper {
    .subtitle_imp {
      font-size: 15px;
      line-height: 15px;
    }
    .main {
      //position: absolute;
      font-size: 10px;
      line-height: 15px;
      padding: 5px 50px 5px 50px;
    }
  }
}
